<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="869769">  <td>22/04/01 10:00:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Priority.Add()[pri:0, instance:com.automation.test.TestNG_Priority@1329eff]">Add</td> 
  <td>main@865667596</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>22/04/01 10:00:16</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Priority.Divi()[pri:2, instance:com.automation.test.TestNG_Priority@1329eff]">Divi</td> 
  <td>main@865667596</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>22/04/01 10:00:16</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Priority.Multiplication()[pri:1, instance:com.automation.test.TestNG_Priority@1329eff]">Multiplication</td> 
  <td>main@865667596</td>   <td></td> </tr>
</table>
